<div class="sidebar">
    <div class="companyOverviewDiv">
        <div class="companyInfoDiv">
            <div class="companyPic">
                <i class="fa-regular fa-id-card"></i>
            </div>
            <div class="companyInfo">
                <h3>196</h3>
                <p>Number of staff</p>
            </div>
        </div>
        <div class="companyInfoDiv">
            <div class="companyPic">
                <i class="fa-solid fa-calendar-week"></i>
            </div>
            <div class="companyInfo">
                <h3>16</h3>
                <p>Number of leave</p>
            </div>
        </div>
        <div class="companyInfoDiv">
            <div class="companyPic">
                <i class="fa-regular fa-face-smile"></i>
            </div>
            <div class="companyInfo">
                <h3>12</h3>
                <p>Profile update request</p>
            </div>
        </div>
    </div>
    <div class="birthdayDiv">

    </div>
</div>