
html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
    background-color: #141414;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.nav-bar {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 0;
    font-size: 14px;
}

.nav-bar li:nth-child(3) {
    font-weight: bold;
}

.nav-bar-menu {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.nav-left {
    display: flex;
}

a:link {
    text-decoration: none;
    color: white;
}

a:hover {
    font-weight: bold;
}

.fa-magnifying-glass {
    padding: 5px 5px;
    font-size: 15px;
}

.avatar {
    height: 30px;
    width: auto;
    border: 1px solid black;
    border-radius: 2px;
    margin-right: 40px;
}

.fa-bell {
    font-size: 15px;
    padding: 5px 5px;
}

input[type="text"] {
    background-color: black;
    border: none transparent;
    outline: none;
    color: white;
    font-size: 14px;
}

.genres {
    background-color: black;
    border: 1px solid white;
    padding: 5px 10px;
    outline: none;
    color: white;
    font-size: 20px; 
    margin-left: 50px;
    font-weight: bold;
}

.nav-bar2 > button {
    background-color: black;
    border: none transparent;
    outline: none;
    color: white;
    font-size: 14px;
}

.search {
    border: 1px solid white;
    background-color: black;
}

.nav-bar2 {
    display: flex;
    align-items: center;
    position: sticky;
    top: 10px;
    padding-left: 50px;
    height: 50px;
    background-color: rgba(255,255,255,0);
    z-index: 2;
}
.nav-bar2 > h1 {
    font-size: 35px;
    position: sticky;
}

.logo {
    width: 120px;
    height: auto;
}

.logo-div {
    margin: auto;
    padding-left: 30px;
}

.nav-bar2.scrolled {
    background-color: black;
}

.join {
    background-color: #E50914;
    width: 100px;
    padding: 5px;
    font-size: 10px;
    color: white;
}

.sign {
    background-color: black;
    border: 1px solid white;
    width: 75px;
    padding: 5px;
    font-size: 10px;
    color: white;
}

.nav-text {
    font-size: 10px;
}

.header {
    width: auto;
    height: 100%;
    padding: 0 20px;
    margin-top: -130px;
    margin-bottom: -270px;
    background-image: url("holidate2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* box-shadow: 0px 0px 50px 50px #141414 inset; */
}

h3 {
    font-weight: bold;
    padding: 0 40px;
    font-size: 30px;
}

.movie-cards {
    display: flex;
    gap: 10px;
    justify-content: center;
    z-index: 2
}

.movie-cards > img {
    width: 360px;
    height: 202.5px;
    border-radius: 10px;
}

.movie-names {
    display: flex;
    font-size: 15px;
    margin-top: 5px;
    justify-content: center;
    gap: 10px;
    margin-bottom: 50px;
}

.movie-names > span {
    width: 360px;
    text-align: center;
}