body {
    background-image: url("pictures/sparklebackground.jpg");
    background-repeat: repeat;
    margin: auto;
    width: 800px;
    font-family: 'Anonymous Pro', monospace;
}

h1, h4, p, ul, h2{
    background-color: rgb(207, 10, 181);
    text-align: center;
}
nav {
    background-color: white;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
}
img {
    width: 500px;
    height: auto;
}

div {
    text-align: center;
}

ul {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.price {
    font-size: 150%;
}

.oven {
    font-size: 200%
}

div > p{
    position: absolute;
    bottom: 10px;
    font-size: 10px;

}

.blink {
    animation: blinker 2s step-start infinite;
    padding: 10px 10px;
    border-radius: 5px;
    margin: auto;
}

@keyframes blinker {
    50% {
      opacity: 0;
    }
  }

button:hover {
    background-color: rgb(174, 0, 255);
}

.form{
    background-color: white;
    margin-top: 10px;
    width: 80%;
    margin: auto;
    text-align: left;
}
.formbutton{
    border-radius: 5px;
    padding: 10px;
}

form {
    padding: 10px;
}