html,
body {
	background: rgb(28, 175, 237);
	background: linear-gradient(
		90deg,
		rgb(25, 160, 218) 0%,
		rgba(69, 252, 228, 1) 100%
	);
	min-width: 100%;
	min-height: 100%;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	box-sizing: border-box;
	overflow: hidden;
	margin: 0;
	padding: 0;
	display: block;
}

#root {
	min-width: 100%;
}

.captcha {
	width: 50px;
	height: auto;
}
