<div class="searchContainer">
    <div class="searchInputDiv">
        <label for="sitesearch"><i class="fa-solid fa-magnifying-glass"></i></label><input id="sitesearch" type="text" placeholder="Search">
    </div>
    <div class="searchIconsDiv">
        <ul>
            <li><a href=""><i class="fa-regular fa-bell"></i></a></li>
            <li><a href=""><i class="fa-regular fa-message"></i></a></li>
            <li><a href=""><div class="profilePic"></div></a></li>
        </ul>
    </div>
</div>