body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: whitesmoke; 
    color: darkslategray;
}

.imgEdit {
    border: 5px solid black;
    height: 300px;
    width: auto;
    margin: 10px;
    border-radius: 20px;
}

.doggyDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 10px;
}

.foodyDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 10px;
}