/* colors 
#090921
#3b4223
#929218
#a65b6f
#3065a7
#fdfae9 */

html, body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    /* display: flex;
    flex-direction: column; */
    background-color: #fdfae9;
    display: grid;
    grid-template-areas: 
    "nav nav"
    "main aside"
    "footer footer";
    grid-template-rows: 3rem 1fr 3rem;
    grid-template-columns: 1fr 200px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
  background: #fdfae9; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #929218; 
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3b4223; 
}
/* ----------------------nav bar------------------------ */
.nav-bar {
    grid-area: nav;
    color: #fdfae9;
    background-color: #3b4223

    ;
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 25rem;
    justify-content: space-between;
    align-items: center;
    font-family: 'Eczar', serif;
    font-size: 1.5rem;
    margin-right: 10px;
}

.nav-logo {
    margin: 0;
    margin-left: 10px;
    font-family: 'Eczar', serif;
    font-size: 2rem;
    width: 15rem;
    display: grid;
    place-items: center;
}

.nav-logo p {
    margin: 2px 10px;
    padding: 0;
    display: inline-block;
}

.tree {
    color: #929218;
}

.nav-bar a {
    color: #fdfae9;
    text-decoration: none;
}

.nav-bar a:hover {
    text-decoration: underline;
}

/*--------------------------main-------------------------*/
main {
    grid-area: main;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* flex-grow: 1; */
}

aside {
    grid-area: aside;
    margin: 10px 0;
    color: #fdfae9;
    height: 100%;
}

.sticky {
    position: sticky;
    top: 0;
    background-color: #3b4223;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    padding: 50px 0;

}

.sticky ul {
    list-style-type: none;
    padding: 0 10px;
}

.sidebarSearchList {
    font-size: 1.3rem;
    margin: 0;
    padding: 0;
    /* margin-top: 25px; */
    margin-left: 10px;
    font-family: 'Eczar', serif;
    text-decoration: underline;
    text-align: center;
}

/* ------------------park image----------------------- */
.parkImageContainer {
    height: 50vh;
    width: 80%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #3b4223;
    position: relative;
    margin: 10px;
    border-radius: 2rem;
    display: grid;
    place-items: center;
    /* transition: 2s ease-in-out; */

    /* transition-property: background-size;
    transition-duration: 2s;
    transition-timing-function: ease-in-out; */

}

.parkImageContainer:hover {
    background-size: contain;
    /* transform: scale(0.5); */

}

.parkImageText {
    color: #fdfae9;
    font-family: 'Eczar', serif;
    text-align: center;
    /* font-size: 4vw; */
    font-size: 3rem;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 0.5rem 2rem;
    border-radius: 3rem;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

/* ------------------park information------------------- */
.outsideContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    box-sizing: border-box;
    /* border: 5px solid purple; */
}

.alerts {
    width: 100%;
    height: 100px;
    border-radius: 2rem;
    box-shadow: 0 10px 10px #a65b6f;
}

.parkInformationContainer {
    margin-top: 10px;
    height: auto;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

.parkBasicInfo {
    display: grid;
    /* width: 80%; */
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    margin: 0 5rem;
    gap: 5rem;
    /* border: 1px solid blue; */
}

.basicInfoDiv {
    border-radius: 2rem;
    height: auto;
    text-align: center;
    display: grid;
    place-items: center;
    padding: 0 10px;
    border: 2px solid #3065a7;
    box-sizing: border-box;
    min-height: 7rem;
}

.basicInfoDiv i {
    color: #3065a7;
    font-size: 2rem;
}

.basicInfoDiv p {
    margin: 0;
}

.parkDescription {
    width: 80%;
    /* border: 1px solid red; */
    text-align: center;
    padding: 0;
}

.parkDescriptionDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.parkActivities {
    box-sizing: border-box;
    text-align: center;
    gap: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* border: 1px solid purple; */
}

.parkActivities span {
    background-color: #3065a7;
    border-radius: 1.5rem;
    padding: 10px 10px;
    color: #fdfae9;
    box-sizing: border-box;
    display: inline-block;
    width: 12rem;
    max-height: auto;
    font-family: 'Eczar', serif;
    font-size: larger;
    display: grid;
    place-items: center;
}

/* --------------------heart icon--------------------- */
.addToFavorites {
    text-align: center;
    color: #a65b6f;
    padding: 10px;
    /* position: relative; */
    display: grid;
    place-content: center;
}

.heartDiv {
    width: 5rem;
    height: 5rem;
    position: relative;
}

.addToFavorites i {
    font-size: 5rem;
}

.fa-heart:hover {
    cursor: pointer;
}

.heartDiv span {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
}

.solidHeartSpan {
    display: none;
}

.showHeart {
    display: inline-block;
}
/* toggle this class when heart is clicked on */
.mouseDown {
    transform: scale(.9);
}

/* -----------------------footer------------------------ */
.footer {
    grid-area: footer;
    width: 100%;
    background-color: #3b4223;
    color: #fdfae9;
    font-family: 'Eczar', serif;
    font-size: 1.5rem;
}

.footer p {
    margin: 0;
    padding: 0;
    margin-left: 10px;
}

/* ------------------media queries---------------------- */
/* Small screens  */
/* @media only screen and (max-width: 600px) {

}

/* large screens */
/* @media only screen and (min-width: 600px) {
    
} */ 