/* colors 
#090921
#3b4223
#929218
#a65b6f
#3065a7
#fdfae9 */

html, body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #fdfae9;
    box-sizing: border-box;
}

/* ----------------------scroll bar--------------------- */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
  background: #fdfae9; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #929218; 
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3b4223; 
}

/* ----------------------nav bar------------------------ */
header {
    width: 100%;
    grid-area: nav;
}

li {
    list-style: none;
}

a {
    color: #fdfae9;
    text-decoration: none;
}

.navbar {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    background-color: #3b4223;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    font-family: 'Eczar', serif;
}

.nav-logo {
    font-size: 2rem;
    color: #fdfae9;
    font-family: 'Eczar', serif;
}

.nav-logo i {
    color: #929218;
}

.nav-link {
    transition: 0.7s ease;
    color: #fdfae9;
    font-size: 1.5rem;
}

.nav-link:hover {
    color: #cbcb20;
    text-decoration: underline;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fdfae9;
}

@media(max-width: 768px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -115%;
        top: 2rem;
        gap: 0;
        flex-direction: column;
        background-color: #3b4223;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 1;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }
}