/* colors 
#090921
#3b4223
#929218
#a65b6f
#3065a7
#fdfae9 */

html, body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #fdfae9;
    box-sizing: border-box;
}

/* ----------------------scroll bar--------------------- */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
  background: #fdfae9; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #929218; 
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3b4223; 
}

/* ----------------------nav bar------------------------ */
header {
    width: 100%;
    grid-area: nav;
}

li {
    list-style: none;
}

a {
    color: #fdfae9;
    text-decoration: none;
}

.navbar {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    background-color: #3b4223;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    font-family: 'Eczar', serif;
}

.nav-logo {
    font-size: 2rem;
    color: #fdfae9;
    font-family: 'Eczar', serif;
}

.nav-logo i {
    color: #929218;
}

.nav-link {
    background:
    linear-gradient(currentColor 0 0) bottom 0   left 50% /var(--a, 0) 3px no-repeat,
    linear-gradient(currentColor 0 0) bottom 6px left 50% /var(--b, 0) 3px no-repeat;
    transition: 0.7s ease;
    color: #fdfae9;
    font-size: 1.5rem;
}

.nav-link:hover {
    color: #cbcb20;
    --a: 60%;
    --b: 100%;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fdfae9;
}

@media(max-width: 768px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -115%;
        top: 2rem;
        gap: 0;
        flex-direction: column;
        background-color: #3b4223;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 1;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }
}

/* ------------------------main------------------------- */
main {
    flex-grow: 1;
    line-height: 1.4;
}

.showcase {
    background-color: rgba(116, 116, 116, 0.75);
    color: #3b4223;
    height: 100vh;
    position: relative;
}
.container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
    text-align: center;
}

.showcase:before {
    content:'';
    background-color: #fdfae9;
    background: url('https://source.unsplash.com/random/900×600/?nature,usa') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* the z-index pushes it behind the showcase div with that primary color background, which is slightly see-through */
}

.showcase .showcase-inner {
    display: grid;
    grid-template-areas: 
    "title explore"
    "title random";
    height: 100%;
    gap: 2rem;
}

.contentDiv {
    border: 1px solid black;
    background-color: rgba(253, 250, 233, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    padding: 10px;
}

.titleDiv {
    grid-area: title;
    margin: 2rem 0;
    padding: 0 10px;
}

.titleDiv a {
    color: #3b4223;
    transition: color 500ms ease-in;
}

.titleDiv a:hover {
    color: #929218;
}

.exploreDiv {
    grid-area: explore;
    margin-top: 2rem;
}

.randomDiv {
    grid-area: random;
    margin-bottom: 2rem;
}

.showcase h1 {
    font-size: 4rem;
    margin: 0;
}

.showcase p {
    font-size: 1.3rem;
}

main button {
    padding: 15px;
    background:
      linear-gradient(currentColor 0 0) 50% var(--d,0px),
      linear-gradient(currentColor 0 0) var(--d,0px) 50%,
      linear-gradient(currentColor 0 0) 50% calc(100% - var(--d,0px)),
      linear-gradient(currentColor 0 0) calc(100% - var(--d,0px)) 50%;
    background-size: 100% 2px,2px 100%;
    background-repeat: no-repeat;
    transition: 0.5s;
    border: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: #3b4223;
  }
main button:hover {
    cursor: pointer;
    --d:6px;
  }

.mousedown {
    transform: scale(.9);
}
/* -----------------------footer------------------------ */
.footer {
    width: 100%;
    background-color: #3b4223;
    color: #fdfae9;
    font-family: 'Eczar', serif;
    font-size: 1.5rem;
}

.footer p {
    margin: 0;
    padding: 0;
    margin-left: 10px;
}