html, body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    /* border: 1px solid blue; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* ----------------------nav bar------------------------ */
.nav-bar {
    color: white;
    background-color: black;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    border: 1px solid red;
    width: 300px;
    justify-content: space-around;
    align-items: center;
}

.nav-logo {
    border: 1px solid yellow;
    margin: 0;
    margin-left: 10px;
}

.nav-bar a {
    color: white;
    text-decoration: none;
}

.nav-bar a:hover {
    text-decoration: underline;
}

/* ------------------search for a park----------------------- */
.searchContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    border: 1px solid black;
}

/* -----------------------cards------------------------- */

.cardContainer {
    border: 3px solid black;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 20px;
    perspective: 2100px;
}

.card:hover {
    cursor:pointer;
    transform: rotateY(180deg);
}

.card {
    height: 350px;
    width: 250px;
    position: relative;
    transition: transform 1000ms;
    transform-style: preserve-3d;

}

.front, .back {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
}

.front {
    /* background-image: url(https://source.unsplash.com/random/350x500); */

    display: flex;
    color: white;
    flex-direction: column;
    justify-content: space-between;
    background-color: #141414;
    /* background-position: center; */
    /* background-repeat: no-repeat;
    background-size: 100% 13rem; */
}

.parkPhoto {
    width: 100%;
    height: 13rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}

/* .front::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 2rem;
} */


.back {
    background-color: white;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    /* overflow-y: auto; */

    height: 100%;
    padding: 0 10px;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */

    /* gap: 5rem; */
}

.back p {
    margin: 0;
    padding: 10px 0;
}

/* ------------------card content----------------------- */

.parkName {
    margin: 0 10px;
    font-size: 1.29em;
}

.parkState {
    margin: 0 15px;
    margin-bottom: 5px;
    font-size: 1.2em;
    
}

.parkStateDiv {
    border: 1px solid red;
}

.parkFrontInfo {
    max-height: 90%;
}

/* ------------------media queries---------------------- */
/* Small screens  */
/* @media only screen and (max-width: 600px) {

}

/* large screens */
/* @media only screen and (min-width: 600px) {
    
} */ 